<div class="container">
  <h1 class="text-center">DevMatch Community</h1>
  <p class="text-center">Welcome to DevMatch Community. Users must fill out a profile to be visible in community.</p>
    <!-- contacts card -->
    <div id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">
            <ul class="list-group pull-down" id="contact-list">
               <% @users.each do |user| %>
                  <% if user.profile %>
                <li class="list-group-item">
                  <div class="row w-100">
                      <div class="col-12 col-sm-6 col-md-3 px-0">
                        <% if user.profile.avatar %>
                          <%= link_to user do %>
                            <%= image_tag user.profile.avatar.url, class: "rounded-circle mx-auto d-block img-fluid avatar-show" %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                        <%= link_to user do %>
                          <label class="name lead"><%= user.profile.first_name %> <%= user.profile.last_name %></label>
                          <br> 
                        <% end %>
                          <span class="text-muted"><%= user.profile.job_title %></span>
                          <% if user.plan_id == 2 %>
                            <span class = "label label-danger">PRO</span>
                          <% end %>
                          <br>
                      </div>
                  </div>
                </li>

              <% end %>
            <% end %>
            </ul>
            <!--/contacts list-->
        </div>
    </div>
</div>